.root {
  display: flex;
  width: 168px;
  height: 58px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.roottype_solidOrange {
  background: var(--token-4c0SiGHDD6JM);
}
.roottype_solidGray {
  background: var(--token-DZ0tAFU9hJzq);
}
.roottype_outlineGray {
  border: 1px solid var(--token-DZ0tAFU9hJzq);
}
.rootsize_small {
  width: 100px;
  height: 48px;
}
.roottype_solidOrange:hover {
  background: var(--token-maWCPk1v_oCK);
  border: 1px solid var(--token-4c0SiGHDD6JM);
}
.roottype_solidGray:hover {
  background: var(--token-maWCPk1v_oCK);
  border: 1px solid var(--token-DZ0tAFU9hJzq);
}
.roottype_blankOrange:hover {
  border: 1px solid var(--token-4c0SiGHDD6JM);
}
.roottype_outlineGray:hover {
  background: var(--token-DZ0tAFU9hJzq);
}
.slotTargetText {
  font-weight: 700;
}
.slotTargetTexttype_solidOrange {
  color: var(--token-maWCPk1v_oCK);
}
.slotTargetTexttype_solidGray {
  color: var(--token-rX_Oy_MeL5C0);
}
.slotTargetTexttype_blankOrange {
  color: var(--token-4c0SiGHDD6JM);
}
.slotTargetTexttype_outlineGray {
  color: var(--token-F5ARRLcMEG-k);
}
.slotTargetTexttype_blankGray {
  color: var(--token-F5ARRLcMEG-k);
}
.roottype_solidOrange:hover .slotTargetTexttype_solidOrange {
  color: var(--token-4c0SiGHDD6JM);
}
.roottype_solidGray:hover .slotTargetTexttype_solidGray {
  color: var(--token-F5ARRLcMEG-k);
}
.roottype_outlineGray:hover .slotTargetTexttype_outlineGray {
  color: var(--token-rX_Oy_MeL5C0);
}
.roottype_blankGray:hover .slotTargetTexttype_blankGray {
  color: var(--token-4c0SiGHDD6JM);
}
