.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__xCEl {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__lmPs6 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: var(--token-grQt9yj2vfz2);
}
.freeBox__lmPs6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lmPs6 > :global(.__wab_flex-container) > *,
.freeBox__lmPs6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lmPs6 > :global(.__wab_flex-container) > picture > img,
.freeBox__lmPs6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__zgUze {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__iaMcN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text___916L0 {
  position: relative;
  color: var(--token-F5ARRLcMEG-k);
  font-size: 30px;
  font-weight: 500;
}
.columns___6SbMv {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___6SbMv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns___6SbMv > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns___6SbMv > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns___6SbMv > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns___6SbMv > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns___6SbMv > :global(.__wab_flex-container) > *,
.columns___6SbMv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6SbMv > :global(.__wab_flex-container) > picture > img,
.columns___6SbMv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6SbMv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6SbMv > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6SbMv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6SbMv > :global(.__wab_flex-container) > *,
  .columns___6SbMv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___6SbMv > :global(.__wab_flex-container) > picture > img,
  .columns___6SbMv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column___0BXI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__mc05S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__mc05S:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__ihPMz {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__ihPMz > picture > img {
  object-fit: cover;
}
.img__ihPMz > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__kNlv3:global(.__wab_instance) {
  position: relative;
}
.column__paSBj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__bNuv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__sl64 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__sl64 > picture > img {
  object-fit: cover;
}
.img__sl64 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__qa5S4:global(.__wab_instance) {
  position: relative;
}
.column__l625 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__iYUgg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vp0LN {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__vp0LN > picture > img {
  object-fit: cover;
}
.img__vp0LN > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__cUjIr:global(.__wab_instance) {
  position: relative;
}
.column___1Ih8M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__u0GN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___6IkP {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___6IkP > picture > img {
  object-fit: cover;
}
.img___6IkP > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__lq6HT:global(.__wab_instance) {
  position: relative;
}
.column__udluy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__afxyg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__s12MP {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__s12MP > picture > img {
  object-fit: cover;
}
.img__s12MP > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__zkKhc:global(.__wab_instance) {
  position: relative;
}
.column__bJZfk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__qgAi9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vdcrB {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__vdcrB > picture > img {
  object-fit: cover;
}
.img__vdcrB > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___5OD76:global(.__wab_instance) {
  position: relative;
}
.column__qLxbI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__nx2Ym:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__pb5BJ {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__pb5BJ > picture > img {
  object-fit: cover;
}
.img__pb5BJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___2BASl:global(.__wab_instance) {
  position: relative;
}
.column__j9Ib {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__aeih:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___4IEFc {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___4IEFc > picture > img {
  object-fit: cover;
}
.img___4IEFc > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__gpjHl:global(.__wab_instance) {
  position: relative;
}
.text___0QzCm {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__qkYfz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__juzNa {
  position: relative;
  color: var(--token-F5ARRLcMEG-k);
  font-size: 30px;
  font-weight: 500;
}
.columns___48Q3X {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___48Q3X > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns___48Q3X > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___48Q3X > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___48Q3X > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___48Q3X > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns___48Q3X > :global(.__wab_flex-container) > *,
.columns___48Q3X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___48Q3X > :global(.__wab_flex-container) > picture > img,
.columns___48Q3X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___48Q3X {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___48Q3X > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___48Q3X > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___48Q3X > :global(.__wab_flex-container) > *,
  .columns___48Q3X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___48Q3X > :global(.__wab_flex-container) > picture > img,
  .columns___48Q3X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__fW43R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__fv0Dk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__cstXa {
  height: auto;
}
.text__guLfs {
  height: auto;
}
.img__lkDkW {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__lkDkW > picture > img {
  object-fit: cover;
}
.img__lkDkW > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__uB24I:global(.__wab_instance) {
  position: relative;
}
.column__rD9Fw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__yxh41:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__jVEbM {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jVEbM > picture > img {
  object-fit: cover;
}
.img__jVEbM > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings___9So3I:global(.__wab_instance) {
  position: relative;
}
.column__a2D5R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___9XKhc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vDxiX {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vDxiX > picture > img {
  object-fit: cover;
}
.img__vDxiX > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__u1Jvc:global(.__wab_instance) {
  position: relative;
}
.column__hkTvB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__gYohz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__gYohz:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__c7Bpf {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__c7Bpf > picture > img {
  object-fit: cover;
}
.img__c7Bpf > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__zunCm:global(.__wab_instance) {
  position: relative;
}
.freeBox__vmkkK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__obMbQ {
  position: relative;
  color: var(--token-F5ARRLcMEG-k);
  font-size: 30px;
  font-weight: 500;
}
.columns__x5Nr7 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__x5Nr7 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__x5Nr7 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__x5Nr7 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__x5Nr7 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__x5Nr7 > :global(.__wab_flex-container) > *,
.columns__x5Nr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__x5Nr7 > :global(.__wab_flex-container) > picture > img,
.columns__x5Nr7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x5Nr7 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x5Nr7 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__x5Nr7 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__dbZml {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__zcxV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__gq0FJ {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gq0FJ > picture > img {
  object-fit: cover;
}
.img__gq0FJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__z0OoO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__pQrn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__cUam {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cUam > picture > img {
  object-fit: cover;
}
.img__cUam > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__dRMs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___7KdAe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__yorhE {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yorhE > picture > img {
  object-fit: cover;
}
.img__yorhE > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fpnLj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-grQt9yj2vfz2);
  padding: 48px;
}
.freeBox__fpnLj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fpnLj > :global(.__wab_flex-container) > *,
.freeBox__fpnLj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fpnLj > :global(.__wab_flex-container) > picture > img,
.freeBox__fpnLj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__aaXl {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__aaXl > picture > img {
  object-fit: cover;
}
.img__aaXl > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__czS8R {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__czS8R > picture > img {
  object-fit: cover;
}
.img__czS8R > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nQi2C {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__nQi2C > picture > img {
  object-fit: cover;
}
.img__nQi2C > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tNk95 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__tNk95 > picture > img {
  object-fit: cover;
}
.img__tNk95 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__s58Y {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__s58Y > picture > img {
  object-fit: cover;
}
.img__s58Y > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
