.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__e7To6 {
  flex-direction: row;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__e7To6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__e7To6 > :global(.__wab_flex-container) > *,
.freeBox__e7To6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e7To6 > :global(.__wab_flex-container) > picture > img,
.freeBox__e7To6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7To6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7To6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7To6 > :global(.__wab_flex-container) > *,
  .freeBox__e7To6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__e7To6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__e7To6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__wrk2Z {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__wrk2Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wrk2Z > :global(.__wab_flex-container) > *,
.freeBox__wrk2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wrk2Z > :global(.__wab_flex-container) > picture > img,
.freeBox__wrk2Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__k1GV {
  position: relative;
  font-weight: 700;
}
.freeBox__bJ86X {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bJ86X > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bJ86X > :global(.__wab_flex-container) > *,
.freeBox__bJ86X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bJ86X > :global(.__wab_flex-container) > picture > img,
.freeBox__bJ86X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__hzLcY {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__hzLcY:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__z0Jju {
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__z0Jju:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__doSm {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__doSm:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__uihBz {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__uihBz:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.freeBox__spEbx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__spEbx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__spEbx > :global(.__wab_flex-container) > *,
.freeBox__spEbx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__spEbx > :global(.__wab_flex-container) > picture > img,
.freeBox__spEbx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__lzCzU {
  position: relative;
  font-weight: 700;
}
.freeBox__r4Bbh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__r4Bbh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r4Bbh > :global(.__wab_flex-container) > *,
.freeBox__r4Bbh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r4Bbh > :global(.__wab_flex-container) > picture > img,
.freeBox__r4Bbh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link___7ZX3J {
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___7ZX3J:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__mw2Ni {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__mw2Ni:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__xmG0D {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__xmG0D:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link___4BKpX {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link___4BKpX:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__hbF3 {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__hbF3:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.freeBox__u9YA {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__u9YA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__u9YA > :global(.__wab_flex-container) > *,
.freeBox__u9YA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u9YA > :global(.__wab_flex-container) > picture > img,
.freeBox__u9YA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__eafUt {
  position: relative;
  font-weight: 700;
}
.freeBox__cq0A0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__cq0A0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cq0A0 > :global(.__wab_flex-container) > *,
.freeBox__cq0A0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cq0A0 > :global(.__wab_flex-container) > picture > img,
.freeBox__cq0A0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__l8JQl {
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__l8JQl:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__rz5ZQ {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__rz5ZQ:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link___4OCvi {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___4OCvi:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__nDl6I {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__nDl6I:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.link__wEvzc {
  position: relative;
  color: var(--token--yyr7YMQ_-LJ);
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__wEvzc:hover {
  color: var(--token-4c0SiGHDD6JM);
  padding-left: 10px;
}
.freeBox___7VWy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___7VWy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___7VWy > :global(.__wab_flex-container) > *,
.freeBox___7VWy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7VWy > :global(.__wab_flex-container) > picture > img,
.freeBox___7VWy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__snIs {
  position: relative;
  font-weight: 700;
}
.text__mtjae {
  position: relative;
  font-size: 14px;
  color: var(--token--yyr7YMQ_-LJ);
}
.freeBox__bt7L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox__bt7L:hover {
  box-shadow: 4px 4px 4px 4px var(--token--yyr7YMQ_-LJ);
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg___8235 {
  position: relative;
  object-fit: cover;
  color: var(--token-4c0SiGHDD6JM);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__ryVjB {
  flex-direction: column;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-grQt9yj2vfz2);
  padding: 32px 16px;
}
.freeBox__ryVjB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ryVjB > :global(.__wab_flex-container) > *,
.freeBox__ryVjB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ryVjB > :global(.__wab_flex-container) > picture > img,
.freeBox__ryVjB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kOlXe {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__kOlXe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kOlXe > :global(.__wab_flex-container) > *,
.freeBox__kOlXe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kOlXe > :global(.__wab_flex-container) > picture > img,
.freeBox__kOlXe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__wyqxb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__e6JB {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__e6JB:hover {
  color: var(--token-4c0SiGHDD6JM);
}
.iconLink__r5Ryq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7GuPv {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg___7GuPv:hover {
  color: var(--token-4c0SiGHDD6JM);
}
.iconLink__ldRSd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__r77Ih {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__r77Ih:hover {
  color: var(--token-4c0SiGHDD6JM);
}
.freeBox__dL9U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dL9U {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text___8CJc {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__oBktG {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__oBktG:hover {
  text-decoration-line: underline;
}
.link__rd29A {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__rd29A:hover {
  text-decoration-line: underline;
}
